@model auction.Models.SellerNameViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Sellers" asp-action="Index">
    <p>
        <select asp-for="SellerFirst_name" asp-items="Model.First_names">
            <option value="">All</option>
        </select>
        Last Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sellers![0].first_name_seller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sellers![0].last_name_seller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sellers![0].phone_number_seller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sellers!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name_seller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name_seller)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_number_seller)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
