@model IEnumerable<auction.Models.Lot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Lots" asp-action="Index">
    <p>
        Name: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name_order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.starting_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.buyer_id_buyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.seller_id_seller)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name_order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.starting_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.buyer_id_buyer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.seller_id_seller)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
